html {
  scroll-behavior: smooth;
}

.navcustom {
  font-size: 1.5rem;
  position: relative;
  right: 30%;
  background-color: #ffffff !important;
}

.navcustom .nav-link {
  color: #5f5f5f !important;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.navcustom a:visited {
  text-decoration: none;
  opacity: 0.42;
}

.navcustom a:hover {
  opacity: 0.7;
}

.navcustom a:active {
  opacity: 1;
  text-decoration: none;
}

.estproject {
  font-size: 21px;
  color: black;
  font-family: 'Barlow Semi Condensed', sans-serif;
  border: solid;
  font-weight: 200;
  padding: 8px;
  border-color: #750036;
  border-width: thin;
  transition: 1s;
}

.estproject:hover {
  background-color: #750036;
  color: white;
}

.pos-f-t {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.contact-navbar {
  position: absolute;
  right: 50%;
  color: #750036;
  text-align: center;
  top: 20px;
}

.header {
  background: white;
}

.header .company-name {
  color: #750036;
  font-size: 42px;
  margin-left: 155px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.header .company-surname {
  color: #750036;
  font-size: 13px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.header .circle-logo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 6;
  width: 150px;
  height: auto;
}

.header .hamburger-circle {
  position: absolute;
  right: -1px;
  top: -1px;
  width: 100px;
  height: auto;
  z-index: 6;
  outline: none;
}

.margin-from-menu {
  margin-top: 75px;
}

.relative {
  position: relative;
}

.our-company-header-text {
  padding: 165px 0px;
}

.our-company-header-text .big-header {
  color: #5f5f5f;
  font-size: 68px;
  text-align: left;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 200;
}

.our-company-header-text .little-header-text {
  color: #5f5f5f;
  font-size: 24px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.our-company-header-text .white-line {
  width: 60%;
  height: 1px;
  border-bottom: 3px solid white;
  margin: 15px 0px;
}

.our-company-header-text .more-button {
  text-align: center;
  font-size: 21px;
  color: #750036;
  border: 1px solid #750036;
  border-radius: 5px;
  padding: 7px 44px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 200;
  position: relative;
  top: 40px;
  transition: 1s;
}

.our-company-header-text .more-button:hover {
  text-decoration: none;
  color: white;
  background: #750036;
}

.arrow-down {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: -10px;
}

.our-company-background-side {
  background: url("#") no-repeat center center;
}

.our-company-background-side .big-image {
  width: 60%;
  margin-left: 20%;
  padding-top: 50px;
  height: auto;
}

.our-portfolio-mobile {
  background: #750036;
  padding-top: 50px;
  padding-bottom: 50px;
}

.our-portfolio-mobile .single-project {
  background: white;
  margin-bottom: 30px;
  border: 1px solid grey;
  display: block;
  height: 200px;
  position: relative;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
}

.our-portfolio-mobile .logo {
  padding: 20px;
  height: 150px;
  position: relative;
}

.our-portfolio-mobile .logo .little-logo {
  height: 150px;
  width: auto;
  padding: 5px;
}

.our-portfolio-mobile .logo img {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: auto;
  padding: 25px;
}

.our-portfolio-mobile .bottom-of-figure {
  width: 100%;
  margin-top: 15px;
}

.our-portfolio-mobile .bottom-of-figure .left-side {
  width: 50%;
  color: black;
  text-align: center;
  border-bottom-left-radius: 15px;
  padding: 10px 0px;
  border-top: 1px solid grey;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  left: 0;
}

.our-portfolio-mobile .bottom-of-figure .right-side {
  transition: all 1s ease-in-out;
  width: 50%;
  background: #750036;
  color: white;
  text-align: center;
  padding: 10px 0px;
  border: 1px solid #750036;
  border-bottom-right-radius: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: 'Montserrat', sans-serif;
}

.our-portfolio {
  background: url("../images/our-portfolio-background.png");
  position: relative;
}

.our-portfolio .more-button {
  text-align: center;
  font-size: 21px;
  right: 100px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 7px 44px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 200;
  position: relative;
  top: 40px;
  transition: 1s;
}

.our-portfolio .more-button:hover {
  text-decoration: none;
  color: white;
  background: #9e456e;
}

.our-portfolio .right-blog-box {
  position: relative;
  top: 115px;
  position: relative;
  right: 100px;
}

.our-portfolio .right-blog-box h1 {
  color: white !important;
  font-size: 42px;
  text-align: left;
  margin-top: 50px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.our-portfolio .right-blog-box p {
  color: white;
  text-align: left;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
}

.our-portfolio h3 {
  color: white;
  position: relative;
  top: 141px;
  left: -21px;
  padding: 17px;
  background: #550b27;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.our-portfolio .slider-image {
  width: 100%;
}

.our-portfolio .logo {
  padding: 20px;
  height: 150px;
  position: relative;
}

.our-portfolio .logo .slider-image {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.our-portfolio .blog-short-desc h4 {
  position: relative;
  top: 100px;
  color: #4a4949;
  padding: 20px;
  font-size: 17px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.our-portfolio .blog-short-desc h4 .tags-blog {
  position: relative;
  color: #390628;
  padding: 0px;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.our-portfolio .bottom-of-figure {
  width: 100%;
  margin-top: 15px;
  position: absolute;
  bottom: 0;
}

.our-portfolio .bottom-of-figure .left-side {
  float: left;
  width: 50%;
  color: black;
  text-align: center;
  border-bottom-left-radius: 5px;
  padding: 10px 0px;
  border-top: 1px solid grey;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-weight: 400;
}

.our-portfolio .bottom-of-figure .right-side {
  float: right;
  height: 50px;
  transition: all 0.5s ease-in-out;
  width: 50%;
  background: #750036;
  color: white;
  text-align: center;
  padding: 10px 0px;
  border-bottom-right-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

.our-portfolio .bottom-of-figure .right-side:hover {
  text-decoration: none;
  color: white;
  background: #9e456e;
}

.our-portfolio h1 {
  color: white !important;
  font-size: 42px;
  text-align: left;
  text-align: center;
  margin-top: 50px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.our-portfolio p {
  color: #4d4d4d;
  text-align: center;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
}

.our-portfolio .arrow-down-second {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: -10px;
}

.our-portfolio .slider-image {
  width: 100%;
  height: auto;
}

.our-offer-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.our-offer-section .margin-des-main {
  margin-bottom: 150px;
}

.our-offer-section .horse-image {
  width: 120%;
  height: auto;
  margin-top: 85px;
  position: absolute;
  left: -350px;
  bottom: -119px;
}

.our-offer-section .horse-overlay {
  position: absolute;
  z-index: 999;
  left: 610px;
  top: 57px;
  width: 15px;
  height: 15px;
  background: #750036;
  border-radius: 50%;
  color: transparent;
  box-shadow: 0px 0px 0px #860080;
  animation: animate 2s infinite;
  font-size: 0px;
}

.our-offer-section .horse-overlay .divider-horse {
  width: 0px;
  background: white;
  height: 0px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.our-offer-section .horse-overlay h3 {
  font-size: 0px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.our-offer-section .horse-overlay a {
  font-size: 0px;
}

.our-offer-section .horse-overlay:hover {
  font-size: 16px;
  position: absolute;
  z-index: 999;
  padding: 10px;
  color: white;
  left: 570px;
  top: 37px;
  width: 350px;
  height: 150px;
  border-radius: 10px;
  transition: 0.2s ease-out;
  background: #750036;
  opacity: 0.9;
  border-radius: 0%;
  animation: none;
  font-family: 'Montserrat', sans-serif;
}

.our-offer-section .horse-overlay:hover h3 {
  font-size: 23px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.our-offer-section .horse-overlay:hover a {
  font-size: 21px;
  color: white;
  text-decoration: none;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.our-offer-section .horse-overlay:hover .divider-horse {
  width: 40px;
  background: white;
  height: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 64, 0.7), 0 0 0 0 rgba(255, 0, 64, 0.7);
  }
  40% {
    box-shadow: 0 0 0 10px rgba(255, 0, 64, 0), 0 0 0 0 rgba(255, 0, 64, 0.7);
  }
  60% {
    box-shadow: 0 0 0 10px rgba(255, 0, 64, 0), 0 0 0 10px rgba(255, 0, 64, 0);
  }
  80% {
    box-shadow: 0 0 0 0 rgba(255, 0, 64, 0), 0 0 0 10px rgba(255, 0, 64, 0);
  }
}

.our-offer-section .horse-overlay2 {
  position: absolute;
  z-index: 999;
  left: 410px;
  top: 567px;
  width: 15px;
  height: 15px;
  background: #750036;
  border-radius: 50%;
  color: transparent;
  box-shadow: 0px 0px 0px #860080;
  animation: animate 2s infinite;
  font-size: 0px;
}

.our-offer-section .horse-overlay2 .divider-horse {
  width: 0px;
  background: white;
  height: 0px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.our-offer-section .horse-overlay2 h3 {
  font-size: 0px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.our-offer-section .horse-overlay2:hover {
  font-size: 16px;
  position: absolute;
  z-index: 999;
  padding: 10px;
  color: white;
  left: 310px;
  top: 467px;
  width: 350px;
  height: 150px;
  border-radius: 10px;
  transition: 0.2s ease-out;
  background: #750036;
  border-radius: 0%;
  animation: none;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.9;
}

.our-offer-section .horse-overlay2:hover a {
  font-size: 0px;
}

.our-offer-section .horse-overlay2:hover h3 {
  font-size: 23px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.our-offer-section .horse-overlay2:hover .divider-horse {
  width: 40px;
  background: white;
  height: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.our-offer-section .horse-overlay2:hover a {
  font-size: 21px;
  color: white;
  text-decoration: none;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 64, 0.7), 0 0 0 0 rgba(255, 0, 64, 0.7);
  }
  40% {
    box-shadow: 0 0 0 10px rgba(255, 0, 64, 0), 0 0 0 0 rgba(255, 0, 64, 0.7);
  }
  60% {
    box-shadow: 0 0 0 10px rgba(255, 0, 64, 0), 0 0 0 10px rgba(255, 0, 64, 0);
  }
  80% {
    box-shadow: 0 0 0 0 rgba(255, 0, 64, 0), 0 0 0 10px rgba(255, 0, 64, 0);
  }
}

.our-offer-section .horse-overlay3 {
  font-size: 0px;
  position: absolute;
  z-index: 999;
  left: 522px;
  top: 283px;
  width: 15px;
  height: 15px;
  background: #750036;
  border-radius: 50%;
  color: transparent;
  box-shadow: 0px 0px 0px #860080;
  animation: animate 2s infinite;
}

.our-offer-section .horse-overlay3 .divider-horse {
  width: 0px;
  background: white;
  height: 0px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.our-offer-section .horse-overlay3 h3 {
  font-size: 0px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.our-offer-section .horse-overlay3 a {
  font-size: 0px;
}

.our-offer-section .horse-overlay3:hover {
  font-size: 16px;
  position: absolute;
  z-index: 999;
  padding: 10px;
  color: white;
  left: 422px;
  top: 183px;
  width: 350px;
  height: 150px;
  border-radius: 10px;
  transition: 0.2s ease-out;
  background: #750036;
  border-radius: 0%;
  animation: none;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.9;
}

.our-offer-section .horse-overlay3:hover h3 {
  font-size: 23px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.our-offer-section .horse-overlay3:hover .divider-horse {
  width: 40px;
  background: white;
  height: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.our-offer-section .horse-overlay3:hover a {
  font-size: 21px;
  color: white;
  text-decoration: none;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 64, 0.7), 0 0 0 0 rgba(255, 0, 64, 0.7);
  }
  40% {
    box-shadow: 0 0 0 10px rgba(255, 0, 64, 0), 0 0 0 0 rgba(255, 0, 64, 0.7);
  }
  60% {
    box-shadow: 0 0 0 10px rgba(255, 0, 64, 0), 0 0 0 10px rgba(255, 0, 64, 0);
  }
  80% {
    box-shadow: 0 0 0 0 rgba(255, 0, 64, 0), 0 0 0 10px rgba(255, 0, 64, 0);
  }
}

.our-offer-section .horse-overlay4 {
  font-size: 0px;
  position: absolute;
  z-index: 999;
  left: 320px;
  top: 245px;
  width: 15px;
  height: 15px;
  background: #750036;
  border-radius: 50%;
  color: transparent;
  box-shadow: 0px 0px 0px #860080;
  animation: animate 2s infinite;
}

.our-offer-section .horse-overlay4 .divider-horse {
  width: 0px;
  background: white;
  height: 0px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.our-offer-section .horse-overlay4 h3 {
  font-size: 0px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.our-offer-section .horse-overlay4 a {
  font-size: 0px;
}

.our-offer-section .horse-overlay4:hover {
  font-size: 16px;
  position: absolute;
  z-index: 999;
  padding: 10px;
  color: white;
  left: 220px;
  top: 145px;
  width: 350px;
  height: 150px;
  border-radius: 10px;
  transition: 0.2s ease-out;
  background: #750036;
  border-radius: 0%;
  animation: none;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.9;
}

.our-offer-section .horse-overlay4:hover h3 {
  font-size: 23px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.our-offer-section .horse-overlay4:hover .divider-horse {
  width: 40px;
  background: white;
  height: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.our-offer-section .horse-overlay4:hover a {
  font-size: 21px;
  color: white;
  text-decoration: none;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 64, 0.7), 0 0 0 0 rgba(255, 0, 64, 0.7);
  }
  40% {
    box-shadow: 0 0 0 10px rgba(255, 0, 64, 0), 0 0 0 0 rgba(255, 0, 64, 0.7);
  }
  60% {
    box-shadow: 0 0 0 10px rgba(255, 0, 64, 0), 0 0 0 10px rgba(255, 0, 64, 0);
  }
  80% {
    box-shadow: 0 0 0 0 rgba(255, 0, 64, 0), 0 0 0 10px rgba(255, 0, 64, 0);
  }
}

.our-offer-section .our-offer-single-field {
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding-bottom: 25px;
}

.our-offer-section .our-offer-single-field img {
  width: 65px;
  margin-top: 30px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.our-offer-section .our-offer-single-field h5 {
  text-align: center;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
}

.our-offer-section .our-offer-description {
  background: #750036;
  border: 1px solid #750036;
  border-radius: 5px;
  padding: 20px 45px;
  margin-bottom: 45px;
  height: 330px;
}

.our-offer-section .our-offer-description h4 {
  font-size: 42px;
  font-weight: 200;
  color: white !important;
  margin-bottom: 20px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.our-offer-section .our-offer-description p {
  color: white !important;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.our-offer-section .our-offer-description .more-button {
  text-align: center;
  font-size: 21px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 7px 44px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 200;
  position: relative;
  top: 40px;
  transition: 1s;
}

.our-offer-section .our-offer-description .more-button:hover {
  text-decoration: none;
  color: white;
  background: #9e456e;
}

.our-offer-section .our-offer-horse {
  width: 100%;
  height: auto;
}

.nowasekcja .divider {
  width: 300px;
  background: #750036;
  height: 4px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.nowasekcja .divider2 {
  width: 150px;
  background: #750036;
  height: 3px;
  margin-bottom: 15px;
  margin-top: 15px;
  opacity: 0.7;
}

.nowasekcja .divider3 {
  width: 75px;
  background: #750036;
  height: 2px;
  margin-bottom: 15px;
  margin-top: 15px;
  opacity: 0.5;
}

.nowasekcja h3 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 43px;
  position: relative;
  right: 150px;
  bottom: 45px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.nowasekcja h3 span {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 23px;
  font-weight: 300;
}

.nowasekcja .more-button {
  text-align: center;
  font-size: 21px;
  color: #750036;
  border: 1px solid #750036;
  border-radius: 5px;
  padding: 7px 44px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 200;
  position: relative;
  left: 1200px;
  bottom: 100px;
  transition: 1s;
}

.nowasekcja .more-button:hover {
  text-decoration: none;
  color: white;
  background: #750036;
}

.media .divider {
  width: 40px;
  background: #750036;
  height: 2px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.media img {
  height: 60px;
  margin-right: 3rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s ease;
}

.media img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

.media .media-body {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.media .media-body h5 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 26px;
}

.grid-container {
  display: grid;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "a a b c d" "e f g h h" "i j k h h";
}

.margin {
  margin: 10px 10px;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.f {
  grid-area: f;
}

.g {
  grid-area: g;
}

.h {
  grid-area: h;
}

.i {
  grid-area: i;
}

.j {
  grid-area: j;
}

.k {
  grid-area: k;
}

.blog p {
  color: white;
  font-size: 23px;
  margin-top: 40px;
  margin-bottom: 160px;
}

.contact-section-background {
  background: url("../images/contact-section-background.png") no-repeat center center;
  height: 200px;
}

.addres {
  margin-top: 30px;
  z-index: 6;
  color: white;
  font-weight: 400;
  padding: 25px;
}

.addres .strong {
  font-weight: 900 !important;
  font-size: 22px;
}

.contact-form {
  background: url("../images/contact-form-background.png") no-repeat center center;
  width: 100%;
}

.map {
  background: #750036;
}

.footer-section-one,
.footer-section-two {
  color: white;
  margin-top: 30px;
}

.footer-section-one h4,
.footer-section-two h4 {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.footer-section-one p,
.footer-section-two p {
  margin-bottom: 40px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.footer-section-one ul,
.footer-section-two ul {
  text-align: center;
  list-style-type: none;
}

.footer-section-one ul a,
.footer-section-two ul a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.footer-section-one ul li,
.footer-section-two ul li {
  text-align: center;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.mobile-address {
  background: url("../images/contact-form-background.png") no-repeat center center;
  color: white !important;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.contact-form-field-position {
  width: 60%;
  height: 650px;
  position: absolute;
  left: -30px;
  top: -105px;
  z-index: 7;
  padding: 55px;
  border-radius: 15px;
}

.mobile-contact-form {
  padding-bottom: 30px;
  padding-top: 30px;
}

.contact-form-field {
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.contact-form-field h3 {
  text-align: center;
  font-size: 32px;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #595959;
}

.contact-form-field .contact-form-description {
  color: #750036;
  font-size: 18px;
  font-weight: 900;
  padding-left: 15px;
  margin-bottom: 10px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.contact-form-field .contact-form-input {
  width: 100%;
  margin-bottom: 20px;
}

.contact-form-field textarea {
  width: 100%;
}

.contact-form-field .send-button {
  float: right;
  width: 100px;
  padding: 5px 20px;
  margin-top: 15px;
  border: 1px solid #750036;
  border-radius: 15px;
  background: #750036;
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 20px;
}

.remove-margin {
  margin-left: -15px !important;
}

.remove-margin-both {
  margin-left: -15px;
  margin-right: -15px;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 70px;
  right: 20px;
  display: none;
  background: #750036 !important;
  border: 1px solid #750036 !important;
  border-radius: 30px !important;
  outline: none;
  z-index: 6;
}

.arrow-down,
.arrow-down-second {
  transition: all 0.7s ease-in-out;
}

.arrow-down:hover,
.arrow-down-second:hover {
  transform: scale(1.4);
}

.button-animation {
  transition: all 0.7s ease-in-out;
}

.button-animation:hover {
  transform: scale(1.4);
}

.flip-card-inner {
  position: relative;
  height: 90%;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  font-family: 'Montserrat', sans-serif;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  padding: 25px;
  transform: rotateY(180deg);
}

.flip-card-back .flip-main-text {
  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.flip-card-back .divider-flip {
  width: 40px;
  margin: auto;
  background: #750036;
  height: 2px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.footer {
  background: url(../images/footer-background.png) center center;
}

.footer .footer-color-background {
  background: #750036;
  width: 100%;
}

.footer .made-by {
  text-align: center;
  font-size: 12px;
  color: #f2f2f2;
}

.footer .subfooter {
  background: #42001e;
  height: 60px;
  padding-top: 10px;
}

.footer .insta-image,
.footer .fb-image {
  float: right;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.flip-card {
  height: 200px !important;
}

.mobile-contact-section .mobile-map {
  padding: 0 !important;
}

.mobile-contact-section .mobile-map iframe {
  width: 100%;
  margin-bottom: -5px;
}

@media (max-width: 1400px) {
  .our-company-header-text .big-header {
    font-size: 50px;
  }
}

@media (max-width: 1100px) {
  .our-company-header-text {
    padding: 40px 0px;
    padding-bottom: 90px;
  }
  .our-company-header-text .more-button {
    top: 35px;
    margin-bottom: 20px;
  }
}

@media (max-width: 730px) {
  .header .circle-logo {
    width: 100px !important;
    height: auto;
  }
  .header .company-name {
    margin-left: 105px;
  }
}

@media (max-width: 600px) {
  .our-offer-description {
    height: auto !important;
  }
}

@media (max-width: 400px) {
  .header .circle-logo {
    width: 95px !important;
    height: auto;
  }
  .header .company-name {
    margin-left: 85px;
    font-size: 30px;
  }
  .our-company-header-text .big-header {
    font-size: 40px;
  }
}

@media (max-width: 320px) {
  .header .circle-logo {
    width: 65px !important;
    height: auto;
  }
  .header .company-name {
    margin-left: 75px;
    font-size: 24px;
  }
}
