@import "mixin";


html {
    scroll-behavior: smooth;
}



.navcustom {
    font-size: 1.5rem;
    position: relative;
    right:30%;
    
    background-color: #ffffff!important;

    .nav-link  {
        color:rgb(95, 95, 95) !important;
        font-family: 'Barlow Semi Condensed', sans-serif;  
         }



         a  {
    
            &:visited{
             text-decoration: none;
              opacity: 0.42;
            }
            &:hover{
              opacity: 0.7;
              
            }
            &:active{
              opacity: 1;
              text-decoration: none;
            }
          }

    
        
     
    
}

.estproject {
    font-size: 21px;
    color: black;
    font-family: 'Barlow Semi Condensed', sans-serif;
    border: solid;
    font-weight: 200;
    padding: 8px;
    border-color: $primary-color;
    border-width: thin;
    transition: 1s;

   &:hover { 
       background-color: $primary-color;
       color:white;

    }


  }

.pos-f-t {
    position: fixed;
    z-index: 10;
    width: 100%;
   

    
}

.contact-navbar {
    position: absolute;
    right: 50%;
    color: $primary-color;
    text-align: center;
    top: 20px;
}

.header {
    background: white;

    .company-name {
        color: $primary-color;
        font-size: 42px;
        margin-left: 155px;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    .company-surname {
        color: $primary-color;
        font-size: 13px;
        
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    .circle-logo {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 6;
        width: 150px;
        height: auto;
    }

    .hamburger-circle {
        position: absolute;
        right: -1px;
        top: -1px;
        width: 100px;
        height: auto;
        z-index: 6;
        outline: none;

    }
}

.margin-from-menu {
    margin-top: 75px;
}

.relative {
    position: relative;
}

.our-company-header-text {
    
    padding: 165px 0px;

    .big-header {
        color: #5f5f5f;
        font-size: 68px;
        text-align: left;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-weight: 200;

    }

    .little-header-text {
        color: #5f5f5f;
        font-size: 24px;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
    }

    .white-line {
        width: 60%;
        height: 1px;
        border-bottom: 3px solid white;
        margin: 15px 0px;
    }

    .more-button {
        text-align: center;
        font-size: 21px;
        color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 5px;
        padding: 7px 44px;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-weight: 200;
        position: relative;
        top: 40px;
        transition: 1s;

        &:hover {
            text-decoration: none;
            color: white;
            background: $primary-color;
            
        }
    }
}

.arrow-down {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -10px;
}

.our-company-background-side {
    background: url('#') no-repeat center center;

    .big-image {
        width: 60%;
        margin-left: 20%;
        padding-top: 50px;
        height: auto;
    }

}

.our-portfolio-mobile {
    background: $primary-color;
    padding-top: 50px;
    padding-bottom: 50px;

    .single-project {
        background: white;
        margin-bottom: 30px;
        border: 1px solid grey;
        display: block;
        height: 200px;
        position: relative;
        border-radius: 15px;
        -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
    }
    .logo {
        padding: 20px;
        height: 150px;
        position: relative;
        .little-logo{
            height: 150px;
            width: auto;
            padding: 5px;
        }
        img{
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 80%;
            height: auto;
            padding: 25px;
        }
    }


    .bottom-of-figure {
        width: 100%;
        margin-top: 15px;

        .left-side {
            width: 50%;
            color: black;
            text-align: center;
            border-bottom-left-radius: 15px;
            padding: 10px 0px;
            border-top: 1px solid grey;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-weight: 400;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .right-side {
            transition: all 1s ease-in-out;
            width: 50%;
            background: $primary-color;
            color: white;
            text-align: center;
            padding: 10px 0px;
            border: 1px solid $primary-color;
            border-bottom-right-radius: 15px;
            position: absolute;
            bottom: 0;
            right: 0;
            font-family: 'Montserrat', sans-serif;
        }
    }
}

.our-portfolio {
    background: url('../images/our-portfolio-background.png');
    position: relative;

    .more-button {
        text-align: center;
        font-size: 21px;
        right:100px;
        color:white;
        border: 1px solid white;
        border-radius: 5px;
        padding: 7px 44px;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-weight: 200;
        position: relative;
        top: 40px;
        transition: 1s;

        &:hover {
            text-decoration: none;
            color: white;
            background: $hover-color;
            
        }
    }



    .right-blog-box {
        position: relative;
        top: 115px;
        position: relative;
        right: 100px;

        h1 {
            color: white !important;
            font-size: 42px;
            text-align: left;
           
            margin-top: 50px;
            font-family: $font-headers;
    
        }

        p {
            color: white;
            text-align: left;
            font-weight: 200;
            font-family: 'Montserrat', sans-serif;
        }

        



    }




    h3 {
        color: white;
        position: relative;
        top: 141px;
        left: -21px;
        padding: 17px;
        background: #550b27;
        font-family: 'Barlow Semi Condensed', sans-serif;  
    }

    .slider-image {
        width: 100% ;
       
    }

    .logo {
        padding: 20px;
        height: 150px;
        position: relative;

        .slider-image {
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

        }

    }

    .blog-short-desc {

      
        
        
        h4 {
                position: relative;
                top: 100px;
                color: #4a4949;
                padding: 20px;
                font-size: 17px;
                font-weight: 300;
                font-family: 'Montserrat', sans-serif;


                .tags-blog {
                    position: relative;
                    color: #390628;
                    padding: 0px;
                    font-size: 22px;
                    font-weight: 600;
                    font-family: 'Montserrat', sans-serif;
                }

            }

  
    }

    .bottom-of-figure {
        width: 100%;
        margin-top: 15px;
        position: absolute;
        bottom: 0;

        .left-side {
            float: left;
            width: 50%;
            color: black;
            text-align: center;
            border-bottom-left-radius: 5px;
            padding: 10px 0px;
            border-top: 1px solid grey;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-weight: 400;

        }

        .right-side {
            float: right;
            height: 50px;
            transition: all 0.5s ease-in-out;
            width: 50%;
            background: $primary-color;
            color: white;
            text-align: center;
            padding: 10px 0px;
            
            border-bottom-right-radius: 5px;

            font-family: 'Montserrat', sans-serif;
        }

        .right-side:hover {
            text-decoration: none;
            color: white;
            background: $hover-color;
        }
    }

    h1 {
        color: white !important;
        font-size: 42px;
        text-align: left;
        text-align: center;
        margin-top: 50px;
        font-family: $font-headers;

    }

    p {
        color: darken(grey, 20%);
        text-align: center;
        font-weight: 200;
        font-family: 'Montserrat', sans-serif;
    }

    .arrow-down-second {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        bottom: -10px;
    }

    .slider-image {
        width: 100%;
        height: auto;
    }
}

.our-offer-section {
    margin-top: 50px;
    margin-bottom: 50px;

    .margin-des-main{
        margin-bottom: 150px;
    }

    .horse-image {
        width: 120%;
        height: auto;
        margin-top: 85px;
        position: absolute;
        left: -350px;
        bottom: -119px;
    }


   

    

    .horse-overlay {
        position: absolute;
        z-index: 999;
        left: 610px;
        top: 57px;
        width: 15px;
        height: 15px;
        background: $primary-color;
        border-radius: 50%;
        color: transparent;
      
        box-shadow: 0px 0px 0px rgba(134, 0, 128, 1.0);
        animation: animate 2s infinite;
        font-size:0px;

        .divider-horse {
            width: 0px;
            background: white;
            height: 0px;
            margin-bottom: 6px;
            margin-top: 6px;
        }

        h3 {
            font-size: 0px; 
            font-family: 'Barlow Semi Condensed', sans-serif;    
         }

         a {
             font-size:0px;
         }
      

        
            &:hover{
                font-size:16px;
                position: absolute;
                z-index: 999;
                padding:10px;
                color:white;
                left: 570px;
                top: 37px;
                width: 350px;
                height: 150px;
                border-radius:10px;
                transition: 0.2s ease-out;
                background:$primary-color;
                opacity: 0.9;
                border-radius: 0%;
                animation: none;
                font-family: 'Montserrat', sans-serif;

                h3 {
                    font-size: 23px; 
                    font-family: 'Barlow Semi Condensed', sans-serif;    
                 }

                 a {
                    font-size:21px;
                    color:white;
                    text-decoration: none;
                    font-family: 'Barlow Semi Condensed', sans-serif;    
                }

                 .divider-horse {
                    width: 40px;
                    background: white;
                    height: 3px;
                    margin-bottom: 6px;
                    margin-top: 6px;
                }
              

            }

           


            @keyframes animate {
                0% {
                    box-shadow: 0 0 0 0 rgba(255, 0, 64, 0.7), 0 0 0 0 rgba(255, 0, 64, 0.7);
                }
            
                40% {
                    box-shadow: 0 0 0 10px rgba(255, 0, 64, 0), 0 0 0 0 rgba(255, 0, 64, 0.7);
                }
            
                60% {
                    box-shadow: 0 0 0 10px rgba(255, 0, 64, 0), 0 0 0 10px rgba(255, 0, 64, 0);
                }
            
                80% {
                    box-shadow: 0 0 0 0 rgba(255, 0, 64, 0), 0 0 0 10px rgba(255, 0, 64, 0);
                }
            }

    }


    .horse-overlay2 {
        position: absolute;
        z-index: 999;
        left: 410px;
        top: 567px;
        width: 15px;
        height: 15px;
        background: $primary-color;
        border-radius: 50%;
        color: transparent;
       
        box-shadow: 0px 0px 0px rgba(134, 0, 128, 1.0);
        animation: animate 2s infinite;
        font-size:0px;

        .divider-horse {
            width: 0px;
            
            background: white;
            height: 0px;
            margin-bottom: 6px;
            margin-top: 6px;
        }

        
        h3 {
            font-size: 0px; 
            font-family: 'Barlow Semi Condensed', sans-serif;    
         }
      

        
            &:hover{
                font-size:16px;
                position: absolute;
                z-index: 999;
                padding:10px;
                color:white;
                left: 310px;
                top: 467px;
                width: 350px;
                height: 150px;
                border-radius:10px;
                transition: 0.2s ease-out;
                background:$primary-color;
                border-radius: 0%;
                animation: none;
                font-family: 'Montserrat', sans-serif;
                opacity: 0.9;

                a {
                    font-size:0px;
                     
                }

                h3 {
                    font-size: 23px; 
                    font-family: 'Barlow Semi Condensed', sans-serif;    
                 }

                 .divider-horse {
                    width: 40px;
                    background: white;
                    height: 3px;
                    margin-bottom: 6px;
                    margin-top: 6px;
                }

                a {
                    font-size:21px;
                    color:white;
                    text-decoration: none;
                    font-family: 'Barlow Semi Condensed', sans-serif;    
                }
                


            }


            @keyframes animate {
                0% {
                    box-shadow: 0 0 0 0 rgba(255, 0, 64, 0.7), 0 0 0 0 rgba(255, 0, 64, 0.7);
                }
            
                40% {
                    box-shadow: 0 0 0 10px rgba(255, 0, 64, 0), 0 0 0 0 rgba(255, 0, 64, 0.7);
                }
            
                60% {
                    box-shadow: 0 0 0 10px rgba(255, 0, 64, 0), 0 0 0 10px rgba(255, 0, 64, 0);
                }
            
                80% {
                    box-shadow: 0 0 0 0 rgba(255, 0, 64, 0), 0 0 0 10px rgba(255, 0, 64, 0);
                }
            }

    }

    .horse-overlay3 {
        font-size:0px;
        position: absolute;
        z-index: 999;
        left: 522px;
        top: 283px;
        width: 15px;
        height: 15px;
        background: $primary-color;
        border-radius: 50%;
        color: transparent;
        
        box-shadow: 0px 0px 0px rgba(134, 0, 128, 1.0);
        animation: animate 2s infinite;

        .divider-horse {
            width: 0px;
            
            background: white;
            height: 0px;
            margin-bottom: 6px;
            margin-top: 6px;
        }

        
        h3 {
            font-size: 0px; 
            font-family: 'Barlow Semi Condensed', sans-serif;    
         }
         a {
            font-size:0px;
             
        }
      

        
            &:hover{
                font-size:16px;
                position: absolute;
                z-index: 999;
                padding:10px;
                color:white;
                left: 422px;
                top: 183px;
                width: 350px;
                height: 150px;
                border-radius:10px;
                transition: 0.2s ease-out;
                background:$primary-color;
                border-radius: 0%;
                animation: none;
                font-family: 'Montserrat', sans-serif;
                opacity: 0.9;

                h3 {
                    font-size: 23px; 
                    font-family: 'Barlow Semi Condensed', sans-serif;    
                 }

                 .divider-horse {
                    width: 40px;
                    background: white;
                    height: 3px;
                    margin-bottom: 6px;
                    margin-top: 6px;
                }

                a {
                    font-size:21px;
                    color:white;
                    text-decoration: none;
                    font-family: 'Barlow Semi Condensed', sans-serif;    
                }
                


            }


            @keyframes animate {
                0% {
                    box-shadow: 0 0 0 0 rgba(255, 0, 64, 0.7), 0 0 0 0 rgba(255, 0, 64, 0.7);
                }
            
                40% {
                    box-shadow: 0 0 0 10px rgba(255, 0, 64, 0), 0 0 0 0 rgba(255, 0, 64, 0.7);
                }
            
                60% {
                    box-shadow: 0 0 0 10px rgba(255, 0, 64, 0), 0 0 0 10px rgba(255, 0, 64, 0);
                }
            
                80% {
                    box-shadow: 0 0 0 0 rgba(255, 0, 64, 0), 0 0 0 10px rgba(255, 0, 64, 0);
                }
            }

    }

    .horse-overlay4 {
        font-size:0px;
        position: absolute;
        z-index: 999;
        left: 320px;
        top: 245px;
        width: 15px;
        height: 15px;
        background: $primary-color;
        border-radius: 50%;
        color: transparent;
        
        box-shadow: 0px 0px 0px rgba(134, 0, 128, 1.0);
        animation: animate 2s infinite;

        .divider-horse {
            width: 0px;
            
            background: white;
            height: 0px;
            margin-bottom: 6px;
            margin-top: 6px;
        }

        
        h3 {
            font-size: 0px; 
            font-family: 'Barlow Semi Condensed', sans-serif;    
         }

         a {
            font-size:0px;
             
        }
      

        
            &:hover{
                font-size:16px;
                position: absolute;
                z-index: 999;
                padding:10px;
                color:white;
                left: 220px;
                top: 145px;
                width: 350px;
                height: 150px;
                border-radius:10px;
                transition: 0.2s ease-out;
                background:$primary-color;
                border-radius: 0%;
                animation: none;
                font-family: 'Montserrat', sans-serif;
                opacity: 0.9;

                h3 {
                    font-size: 23px; 
                    font-family: 'Barlow Semi Condensed', sans-serif;    
                 }


                 .divider-horse {
                    width: 40px;
                    background: white;
                    height: 3px;
                    margin-bottom: 6px;
                    margin-top: 6px;
                }

                a {
                    font-size:21px;
                    color:white;
                    text-decoration: none;
                    font-family: 'Barlow Semi Condensed', sans-serif;    
                }
        
                
                


            }


            @keyframes animate {
                0% {
                    box-shadow: 0 0 0 0 rgba(255, 0, 64, 0.7), 0 0 0 0 rgba(255, 0, 64, 0.7);
                }
            
                40% {
                    box-shadow: 0 0 0 10px rgba(255, 0, 64, 0), 0 0 0 0 rgba(255, 0, 64, 0.7);
                }
            
                60% {
                    box-shadow: 0 0 0 10px rgba(255, 0, 64, 0), 0 0 0 10px rgba(255, 0, 64, 0);
                }
            
                80% {
                    box-shadow: 0 0 0 0 rgba(255, 0, 64, 0), 0 0 0 10px rgba(255, 0, 64, 0);
                }
            }

    }

    

    .our-offer-single-field {
        background: #ffffff;
        border-radius: 5px;
        border: 1px solid #e6e6e6;
        padding-bottom: 25px;
        
        img {
            width: 65px;
            margin-top: 30px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        h5 {
            text-align: center;
            margin-top: 30px;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .our-offer-description {
        background: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 5px;
        padding: 20px 45px;
        margin-bottom: 45px;
        height: 330px;

        h4 {
            font-size: 42px;
            font-weight: 200;
            color: white !important;
            margin-bottom: 20px;
            font-family: 'Barlow Semi Condensed', sans-serif;

        }

        p {
            color: white !important;
            font-size: 20px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
        }

        .more-button {
            text-align: center;
            font-size: 21px;
            color:white;
            border: 1px solid white;
            border-radius: 5px;
            padding: 7px 44px;
            font-family: 'Barlow Semi Condensed', sans-serif;
            font-weight: 200;
            position: relative;
            top: 40px;
            transition: 1s;
    
            &:hover {
                text-decoration: none;
                color: white;
                background: $hover-color;
                
            }
        }

    }

    .our-offer-horse {
        width: 100%;
        height: auto;
       
    }
}

.nowasekcja {

    .divider {
        width: 300px;
        background: $primary-color;
        height: 4px;
        margin-bottom: 15px;
        margin-top: 15px;
        
    }
    .divider2 {
        width: 150px;
        background: $primary-color;
        height: 3px;
        margin-bottom: 15px;
        margin-top: 15px;
        opacity: 0.7;
    }
    .divider3 {
        width: 75px;
        background: $primary-color;
        height: 2px;
        margin-bottom: 15px;
        margin-top: 15px;
        opacity: 0.5;
    }

    h3 {
        font-family:$font-headers;
        font-weight: 600;
        font-size:43px;
        position: relative;
        right:150px;
        bottom:45px;
        margin-bottom: 40px;
        margin-top:40px;

            span {
                font-family: 'Barlow Semi Condensed', sans-serif;
                font-size:23px;
                font-weight: 300;
            }
    }

    .more-button {
        text-align: center;
        font-size: 21px;
        color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 5px;
        padding: 7px 44px;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-weight: 200;
        position: relative;
        left:1200px; 
        bottom:100px;
        transition: 1s;

        &:hover {
            text-decoration: none;
            color: white;
            background: $primary-color;
            
        }
    }
}


.media {

    .divider {
        width: 40px;
        background: $primary-color;
        height: 2px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    img {
        height:60px;
        margin-right: 3rem;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: all 0.5s ease;

        &:hover {
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            filter: grayscale(0%);
          }
        
    }

    .media-body {
        font-family: 'Barlow Semi Condensed', sans-serif;
    
                h5 {
                    font-family: 'Barlow Semi Condensed', sans-serif;
                    font-size:26px;
    
                }
    
                
    
    
    }


}



.grid-container {
    display: grid;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "a a b c d""e f g h h""i j k h h";
}

.margin {
    margin: 10px 10px;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.f {
    grid-area: f;
}

.g {
    grid-area: g;
}

.h {
    grid-area: h;
}

.i {
    grid-area: i;
}

.j {
    grid-area: j;
}

.k {
    grid-area: k;
}

.blog {
    p {
        color:white;
        font-size: 23px;
        margin-top:40px;
        margin-bottom: 160px;
    }
}


.contact-section-background {
    background: url('../images/contact-section-background.png') no-repeat center center;
    height: 200px;
}

.addres {
    margin-top: 30px;
    z-index: 6;
    color: white;
    font-weight: 400;
    padding: 25px;

    .strong {
        font-weight: 900 !important;
        font-size: 22px;
    }
}

.contact-form {
    background: url('../images/contact-form-background.png') no-repeat center center;
    width: 100%;
}

.map {
    background: $primary-color;
}

.footer-section-one,
.footer-section-two {
    color: white;
    margin-top: 30px;

    h4 {
        text-align: center;
        margin-bottom: 30px;
        font-family: $font-headers;

    }

    p {
        margin-bottom: 40px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
    }

    ul {
        a {
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
        }

        text-align: center;
        list-style-type: none;

        li {
            text-align: center;
            margin-bottom: 5px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
        }
    }
}

.mobile-address {
    background: url('../images/contact-form-background.png') no-repeat center center;
    color: white !important;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.contact-form-field-position {
    width: 60%;
    height: 650px;
    position: absolute;
    left: -30px;
    top: -105px;
    z-index: 7;
    padding: 55px;
    border-radius: 15px;

}

.mobile-contact-form {
    padding-bottom: 30px;
    padding-top: 30px;
}

.contact-form-field {

    background: #f2f2f2;
    border: 1px solid #f2f2f2;


    h3 {
        text-align: center;
        font-size: 32px;
        font-family: $font-headers;
        color: darken(#f2f2f2, 60%);
    }

    .contact-form-description {
        color: $primary-color;
        font-size: 18px;
        font-weight: 900;
        padding-left: 15px;
        margin-bottom: 10px;
        font-family: $font-headers;
    }

    .contact-form-input {
        width: 100%;
        margin-bottom: 20px;
    }

    textarea {
        width: 100%;
    }

    .send-button {
        float: right;
        width: 100px;
        padding: 5px 20px;
        margin-top: 15px;
        border: 1px solid $primary-color;
        border-radius: 15px;
        background: $primary-color;
        color: white;
        font-family: $font-headers;
        font-size: 20px;
    }
}

.remove-margin {
    margin-left: -15px !important;
}

.remove-margin-both {
    margin-left: -15px;
    margin-right: -15px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 70px;
    right: 20px;
    display: none;
    background: $primary-color !important;
    border: 1px solid $primary-color !important;
    border-radius: 30px !important;
    outline: none;
    z-index: 6;
}


.arrow-down,
.arrow-down-second {
    transition: all 0.7s ease-in-out;
}

.arrow-down:hover,
.arrow-down-second:hover {
    transform: scale(1.4);
}

.button-animation {
    transition: all 0.7s ease-in-out;
}

.button-animation:hover {
    transform: scale(1.4);
}



.flip-card-inner {
    position: relative;
    height: 90%;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    font-family: 'Montserrat', sans-serif;
    
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    padding:25px;
    transform: rotateY(180deg);

            .flip-main-text {
                font-size: 19px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
            }

            .divider-flip {
                width: 40px;
                margin: auto;
                background: $primary-color;
                height: 2px;
                margin-bottom: 6px;
                margin-top: 6px;
            }
}

.footer {
    background: url(../images/footer-background.png) center center;

    .footer-color-background {
        background: $primary-color;
        width: 100%;
    }

    .made-by {
        text-align: center;
        font-size: 12px;
        color: #f2f2f2;
    }

    .subfooter {
        background: $secondary-color;
        height: 60px;
        padding-top: 10px;
    }

    .insta-image,
    .fb-image {
        float: right;
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
}


.flip-card {
    height: 200px !important;
}


.mobile-contact-section {
    .mobile-map {
        padding: 0 !important;

        iframe {
            width: 100%;
            margin-bottom: -5px;

        }
    }
}

@media(max-width: 1400px){
    .our-company-header-text{
        .big-header{
            font-size: 50px;
        }
    }
}


@media(max-width: 1100px) {
    .our-company-header-text {
        padding: 40px 0px;
        padding-bottom: 90px;
        .more-button{
            top: 35px;
            margin-bottom: 20px;
        }
    }
}


@media(max-width: 730px) {
    .header {
        .circle-logo {
            width: 100px !important;
            height: auto;
        }

        .company-name {
            margin-left: 105px;
        }
    }
}

@media(max-width: 600px) {
    .our-offer-description {
        height: auto !important;
    }
}

@media(max-width: 400px) {
    .header {
        .circle-logo {
            width: 95px !important;
            height: auto;
        }

        .company-name {
            margin-left: 85px;
            font-size: 30px;
        }
    }

    .our-company-header-text {
        .big-header {
            font-size: 40px;
        }
    }
}

@media(max-width:320px) {
    .header {
        .circle-logo {
            width: 65px !important;
            height: auto;
        }

        .company-name {
            margin-left: 75px;
            font-size: 24px;
        }
    }
}
